LunchTime - Desktop/LT.WCF.DesktopClient/Connected Services/WcfServiceReference/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LT.WCF.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LT.WCF.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfOrderAndOrderItemsAndProducts">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrderAndOrderItemsAndProducts" nillable="true" type="tns:OrderAndOrderItemsAndProducts" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrderAndOrderItemsAndProducts" nillable="true" type="tns:ArrayOfOrderAndOrderItemsAndProducts" />
  <xs:complexType name="OrderAndOrderItemsAndProducts">
    <xs:sequence>
      <xs:element minOccurs="0" name="OrdreDato" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OrdreId" type="xs:int" />
      <xs:element minOccurs="0" name="OrdreStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProduktAntal" type="xs:int" />
      <xs:element minOccurs="0" name="ProduktBeskrivelse" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProduktNavn" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderAndOrderItemsAndProducts" nillable="true" type="tns:OrderAndOrderItemsAndProducts" />
</xs:schema>