LunchTime - Desktop/LT.WCF.DesktopClient/Connected Services/WcfServiceReference/WcfService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WcfService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IWcfService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:2112/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:2112/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:2112/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LT.WCF.Entities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWcfService_GetOrders_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrders" />
  </wsdl:message>
  <wsdl:message name="IWcfService_GetOrders_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrdersResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfService_GetOrderItems_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderItems" />
  </wsdl:message>
  <wsdl:message name="IWcfService_GetOrderItems_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderItemsResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfService_GetProducts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProducts" />
  </wsdl:message>
  <wsdl:message name="IWcfService_GetProducts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductsResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfService_CloseOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:CloseOrder" />
  </wsdl:message>
  <wsdl:message name="IWcfService_CloseOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:CloseOrderResponse" />
  </wsdl:message>
  <wsdl:portType name="IWcfService">
    <wsdl:operation name="GetOrders">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfService/GetOrders" message="tns:IWcfService_GetOrders_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfService/GetOrdersResponse" message="tns:IWcfService_GetOrders_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOrderItems">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfService/GetOrderItems" message="tns:IWcfService_GetOrderItems_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfService/GetOrderItemsResponse" message="tns:IWcfService_GetOrderItems_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProducts">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfService/GetProducts" message="tns:IWcfService_GetProducts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfService/GetProductsResponse" message="tns:IWcfService_GetProducts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CloseOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfService/CloseOrder" message="tns:IWcfService_CloseOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfService/CloseOrderResponse" message="tns:IWcfService_CloseOrder_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IWcfService" type="tns:IWcfService">
    <wsp:PolicyReference URI="#NetTcpBinding_IWcfService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetOrders">
      <soap12:operation soapAction="http://tempuri.org/IWcfService/GetOrders" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrderItems">
      <soap12:operation soapAction="http://tempuri.org/IWcfService/GetOrderItems" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProducts">
      <soap12:operation soapAction="http://tempuri.org/IWcfService/GetProducts" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CloseOrder">
      <soap12:operation soapAction="http://tempuri.org/IWcfService/CloseOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WcfService">
    <wsdl:port name="NetTcpBinding_IWcfService" binding="tns:NetTcpBinding_IWcfService">
      <soap12:address location="net.tcp://localhost:2113/Wcf" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:2113/Wcf</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>JENSBROBAKN0DF4\jensbrobaknielsen</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>